:root {
  --color-primary: #c8b6ff;
  --color-secondary: #de6c34;
  --color-accent: #b6ccfe;
  --color-pink: #ea9ab2;
  --color-cream: #f1e7dd;
}

@font-face {
  font-family: 'AdigianaUI';
  src: url('/fonts/AdigianaUI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-cream);
  color: #333;
  padding-top: 70px; /* Add space for fixed navbar */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.section {
  padding: 4rem 0;
}

h1, h2 {
  font-family: 'AdigianaUI', sans-serif;
  font-weight: bold;
}