---
const imagesData = [
  { url: 'cat-astrophe-le-site-web/images/image.png', title: "Vue d'ensemble de la cuisine", link: 'https://unsplash.com/@jeka_fe' },
  { url: 'cat-astrophe-le-site-web/images/image_1.png', title: "Point de vue différent de la cuisine", link: 'https://unsplash.com/@oladimeg' },
  { url: 'cat-astrophe-le-site-web/images/image_2.png', title: "Vue d'ensemble de la cuisine", link: 'https://unsplash.com/@oladimeg' },
  { url: 'cat-astrophe-le-site-web/images/image_3.png', title: "Tablette et petit café", link: 'https://unsplash.com/@aiony' },
  { url: 'cat-astrophe-le-site-web/images/image_4.png', title: 'Planche', link: 'https://unsplash.com/@von_co' },
  { url: 'cat-astrophe-le-site-web/images/image_5.png', title: 'Point de vue du chat sur la cuisine', link: '/images/image_5.png' }
];
---

<section id="gallery" class="gallery section">
  <div class="gallery">
    {imagesData.map(({ url, title, link }) => (
      <a href={url} target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src={url} alt={title} class="gallery__image">
          <figcaption class="gallery__caption">{title}</figcaption>
        </figure>
      </a>
    ))}
  </div>
</section>

<style>
  .gallery {
    background-color: var(--color-accent);
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px;
    justify-content: center;
  }

  .gallery__link {
    overflow: hidden;
    height: 400px;
    max-height: 400px;
  }

  .gallery__thumb {
    position: relative;
    height: 100%;
  }

  .gallery__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .gallery__link:hover .gallery__image {
    transform: scale(1.1);
  }

  .gallery__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    font-size: 14px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: opacity 0.3s ease;
  }

  .gallery__link:hover .gallery__caption {
    opacity: 1;
  }
</style>
